* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ad-section {
  padding: 80px;
}

p {
  color: #f8f8ff;
}

button {
  background: transparent;
  color: #f8f8ff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  border: 2px solid #db1c5e;
  height: 40px;
  width: 150px;
  margin-top: 50px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.hero {
  background-image: url("../../img/1. hearo-top.jpg");
  background-position: center center;
  background-size: cover;
  height: 120vh;
  width: 100%;
}

.hero .menu-icon {
  position: fixed;
  color: #f8f8ff;
  top: 15px;
  right: 15px;
  z-index: 1;
}

.hero .menu-icon:hover {
  cursor: pointer;
}

.hero .logo {
  position: absolute;
  height: 95px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  left: 50%;
}

.hero .arrow-down {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.ad-section {
  background-color: #201728;
  height: 100vh;
}

.ad-section::before {
  content: "";
  display: block;
  background-color: #201728;
  height: 200px;
  margin: -115px -80px;
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
}

.ad-section .purple-box {
  position: absolute;
  background-color: #70259b;
  width: 70%;
  left: 15%;
  font-size: 45px;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 4% 8%;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}

@media only screen and (max-width: 600px) {
  .hero .logo {
    height: 80px;
  }
  .ad-section .purple-box {
    padding: 30px 15px;
    font-size: 24px;
    line-height: 1.5;
    -webkit-transform: translateY(-8rem);
            transform: translateY(-8rem);
  }
}
