* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ad-section {
  padding: 80px;
}

.hero {
  background-image: url("../../img/1. hearo-top.jpg");
  background-position: center center;
  background-size: cover;
  height: 120vh;
  width: 100%;
}

.hero .menu-icon {
  position: fixed;
  color: #f8f8ff;
  top: 15px;
  right: 15px;
  z-index: 1;
}

.hero .menu-icon:hover {
  cursor: pointer;
}

.hero .logo {
  position: absolute;
  height: 95px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  left: 50%;
}

.hero .arrow-down {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.ad-section {
  background-color: #201728;
  height: 100vh;
}

.ad-section::before {
  content: "";
  display: block;
  background-color: #201728;
  height: 200px;
  margin: -115px -80px;
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
}

.ad-section .purple-box {
  z-index: 1;
  color: #f8f8ff;
}

@media only screen and (max-width: 600px) {
  .hero .logo {
    height: 80px;
  }
}
