.ad-section {
  background-color: $backgroundColor;
  height: 100vh;
  @extend %boxPadding;

  &::before {
    content: "";
    display: block;
    background-color: $backgroundColor;
    height: 515px;
    margin: -115px -80px;
    transform: skewY(3deg) translateY(-25%);
  }

  .purple-box {
    position: absolute;
    // display: none;
    background-color: $primaryColor;
    width: 68%;
    left: 16%;
    font: {
      size: 40px;
      family: $playfair;
    }
    line-height: 1.3;
    text-align: center;
    padding: 60px;
    transform: translateY(-600px);

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 80px;
      width: 100%;
      background-color: $primaryColor;
      margin: -60px;
      transform: skewY(-4deg) translateY(65px);
      z-index: -1;
    }
  }
}
