.article-section {
  @extend %boxPadding;
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width: 100%;
  background-color: $textColor;

  div {
    position: relative;
    width: 32%;
    height: 100%;

    p {
      color: $secondaryColor;
    }

    h2 {
      color: $textColor;
    }
  }

  @mixin article($url) {
    background-image: url($url);

    .article-1 {
      @include article("../../img/12.\ bg-square-gradient.png");
    }

    .article-2 {
      @include article("../../img/14.\ bg-rectangle-gradient.png");
    }

    .article-3 {
      @include article("../../img/13.\ bg-circle-gradient.png");
    }
  }
}
