footer {
  display: none;
  flex-wrap: wrap;
  height: 250px;
  background-color: $backgroundColor;

  div {
    @extend .heading;
    padding: 50px 70px;
    margin: 0;
    position: relative;
    width: 25%;
    justify-content: space-around;
    font: {
      size: 16px;
      weight: lighter;
    }
    color: $secondaryColor;

    p {
      margin-top: 20px;
      font: {
        family: $montserrat;
        size: 12px;
      }
      line-height: 2;
    }
  }
}
