@media only screen and (max-width: 600px) {
  .heading {
    font-size: 30px;
  }

  .hero {
    .logo {
      height: 80px;
    }
  }

  .ad-section {
    .purple-box {
      padding: 30px 15px;
      font-size: 24px;
      line-height: 1.5;

      &::after {
        margin: -15px;
        transform: skewY(-5deg) translateY(0);
      }
    }

    .slider-1 {
      height: 300px;
      width: 100%;
      left: 0;
    }

    .hexagon {
      display: none;
    }

    .ad-block {
      left: 20%;
      width: 80%;
      transform: translateY(140%);
      z-index: 2;
    }

    .waves {
      height: 70px;
      transform: translateY(335%);
    }

    .arrow-glyph {
      height: 90px;
      left: 18%;
      transform: translateY(560%);
    }
  }

  .data-section {
    .circle {
      display: none;
    }

    .slider-2 {
      width: 100%;
      left: 0;
      height: 300px;
    }

    .data-block {
      width: 80%;
      left: 20%;
      transform: translateY(145%);
    }

    .data-p {
      margin-left: 0;
    }

    button {
      margin-left: 0;
    }

    .arrow-2 {
      left: 75%;
      transform: translateY(250px);
    }
  }

  footer {
    height: auto;

    div {
      width: 100%;
      height: auto;
    }
  }

  .article-section {
    height: auto;
    padding: 20px;

    div {
      width: 100%;
      height: 400px;
      margin: 20px 0;
    }
  }
}

// larger devices
@media only screen and (min-width: 1400px) {
  .ad-section {
    height: 150vh;

    &::before {
      transform: skewY(3deg) translateY(-50%);
    }

    .purple-box {
      transform: translateY(-750px);
    }

    .waves {
      left: 74%;
    }

    .ad-block {
      left: 17%;
    }
  }

  .data-section {
    height: 120vh;

    .slider-2 {
      left: 15%;
    }

    .data-block {
      left: 54%;
      transform: translateY(96%);
    }
  }

  .article-section {
    height: 60vh;
  }
}
