@media only screen and (max-width: 600px) {
  .hero {
    .logo {
      height: 80px;
    }
  }

  .ad-section {
    .purple-box {
      padding: 30px 15px;
      font-size: 24px;
      line-height: 1.5;

      &::after {
        margin: -15px;
        transform: skewY(-5deg) translateY(0);
      }
    }
  }

  footer {
    height: auto;

    div {
      width: 100%;
      height: auto;
    }
  }

  .article-section {
    height: auto;
    padding: 20px;

    div {
      width: 100%;
      height: 400px;
      margin: 20px 0;
    }
  }
}

// larger devices
@media only screen and (min-width: 1400px) {
  .ad-section {
    height: 150vh;

    &::before {
      transform: skewY(3deg) translateY(-50%);
    }

    .purple-box {
      transform: translateY(-750px);
    }
  }

  .data-section {
    height: 120vh;
  }
}
