$montserrat: "Montserrat", sans-serif;
$playfair: "Playfair Display", serif;
$primaryColor: #70259b;
$secondaryColor: #db1c5e;
$backgroundColor: #201728;
$textColor: #f8f8ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%boxPadding {
    padding: 80px;
}

p {
    color: $textColor;
}

button {
    background: transparent;
    color: $textColor;
    font: {
        family: $montserrat;
        size: 12px;
    }
    border: 2px solid $secondaryColor;
    height: 40px;
    width: 150px;
    margin-top: 50px;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

.arrow-right {
    position: absolute;
    transform: translateX(20px);
}

@import "hero";
@import "adSection";
@import "mobile";