* {
  margin: 0;
  padding: 0;
}

.btn, .section .purple-box button {
  font-family: "Montserrat", sans-serif;
  color: #f8f8ff;
  font-size: 10px;
  background-color: transparent;
  height: 35px;
  width: 130px;
  margin: 40px auto 0 auto;
  border: 2px solid #db1c5e;
}

.hearo {
  background-image: url("../img/1. hearo-top.jpg");
  background-size: cover;
  background-position: top;
  height: 125vh;
  width: 100%;
}

.hearo i {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 20px;
  color: #fff;
  font-size: 20px;
  z-index: 1;
}

.hearo .logo {
  position: relative;
  top: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  margin: 0 auto;
}

.hearo .arrow-down {
  position: absolute;
  height: 8%;
  left: 50%;
  bottom: 1px;
}

.section {
  background-color: #201728;
  height: 200vh;
}

.section::before {
  content: "";
  display: block;
  background-color: #201728;
  height: 200px;
  -webkit-transform: skewY(3deg) translateY(-41px);
          transform: skewY(3deg) translateY(-41px);
}

.section .purple-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 1.3;
  background-color: #70259b;
  font-family: "Playfair Display", serif;
  font-size: 38px;
  font-weight: lighter;
  color: #f8f8ff;
  padding: 5%;
  width: 50%;
  height: auto;
  margin: 0 auto;
  -webkit-transform: translateY(-85%);
          transform: translateY(-85%);
  z-index: 1;
}

.section .purple-box button img {
  position: absolute;
  margin-left: 18px;
}

.section .cross-glyph {
  position: absolute;
  left: 47%;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.section .header {
  color: #f8f8ff;
  font-size: 60px;
  font-weight: lighter;
  width: 30%;
}

.section .advertising-box {
  position: absolute;
  width: 50%;
  color: #f8f8ff;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  margin-top: 20px;
}

.section .hexagon {
  position: absolute;
  left: 30%;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.section .slider-1 {
  position: absolute;
  left: 40%;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.section .glyph {
  position: absolute;
  position: absolute;
  left: 78%;
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
}

.section .arrow-glyph {
  position: absolute;
  left: 33%;
  -webkit-transform: translateY(420%);
          transform: translateY(420%);
}

.section .ad-box {
  position: absolute;
  left: 16%;
  z-index: 1;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

@media only screen and (max-width: 600px) {
  .hearo .logo {
    top: 41%;
  }
  .section p {
    font-size: 20px;
    -webkit-transform: translateY(-85%);
            transform: translateY(-85%);
    padding-top: 20px;
    line-height: 1.5;
  }
  .section .cross-glyph {
    left: 35%;
  }
}
/*# sourceMappingURL=styles.css.map */